<nav class="navbar navbar-expand-lg bg-white border-bottom border-secondary fixed-top">
  <div class="container-fluid">
    <a href="" class="navbar-brand d-flex">
      <img src="favicon.ico" alt="logo" width="45" />
      <p class="m-auto text-secondary montserrat">TechDental</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#smallNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="smallNavbar">
      <div class="navbar-nav ms-auto">
        <a href="" class="nav-link text-primary open-sans-bold" aria-current="page">Home</a>
        <a href="" class="nav-link text-primary open-sans-bold">Features</a>
        <a href="" class="nav-link text-primary open-sans-bold">About Us</a>
        <a href="" class="nav-link text-primary open-sans-bold">Services</a>
        <a href="" class="nav-link text-primary open-sans-bold contact-button">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
<main>
  <div id="home" class="container">
    <div class="row d-flex justify-content-center align-items-center flex-nowrap">
      <div class="col">
        <h1 class="text-primary raleway-bold">Tech for Perfect Smiles</h1>
        <h2 class="text-primary raleway-medium">High-quality dental lab services</h2>
        <a href="#" class="btn btn-secondary btn-hero open-sans-bold" role="button">Learn More</a>
      </div>
      <div class="col d-md-block d-none">
        <img class="float-end hero-img" src="../assets/hero-image.png" alt="hero-image">
      </div>
    </div>
  </div>
</main>
