@use "/src/styles" as *;

/* NAVBAR */

.montserrat {
  font-size: 30px;
  padding-left: 5px;
}

.nav-link {
  font-size: 20px;
  margin-right: 5px;
  transition: opacity 0.5s ease;
}

.navbar-nav:hover > :not(:hover) {
  opacity: 0.4;
}

.navbar-toggler {
  color: $secondary;
  border-color: $secondary;
}

main {
  padding-top: 72px;
}

/* HOME */

#home {
  padding: 60px 0px;
}

@media (width < 576px) {
  #home {
    padding-left: 15px;
  }

  h1 {
    font-size: 55px;
    max-width: 400px;
  }

  h2 {
    font-size: 25px;
    margin-top: -10px;
  }

  .btn-hero {
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (width >= 576px) {
  #home {
    padding-left: 15px;
  }

  h1 {
    font-size: 65px;
    max-width: 490px;
  }

  h2 {
    font-size: 30px;
    margin-top: -10px;
  }

  .btn-hero {
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (width >= 768px) {
  h1 {
    font-size: 45px;
    width: 320px;
  }

  h2 {
    font-size: 20px;
    margin-top: -10px;
  }

  .btn-hero {
    width: 110px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
  }

  .hero-img {
    width: 300px;
  }
}

@media (width >= 992px) {
  h1 {
    font-size: 65px;
    width: auto;
  }

  h2 {
    font-size: 30px;
  }

  .btn-hero {
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
  }

  .hero-img {
    width: 450px;
  }
}

@media (width >= 1200px) {
  h1 {
    font-size: 80px;
    width: auto;
  }

  h2 {
    font-size: 35px;
  }

  .btn-hero {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .hero-img {
    width: 500px;
  }
}

@media (width >= 1400px) {
  h1 {
    font-size: 90px;
    width: auto;
  }

  h2 {
    font-size: 40px;
  }

  .btn-hero {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .hero-img {
    width: auto;
  }
}

/* SECTION TITLE */

h3 {
  padding-bottom: 30px;
}

hr {
  border: 2px solid $secondary;
  opacity: 1;
  height: 1px;
}

@media (width < 576px) {
  h3 {
    font-size: 25px;
  }
  
  hr {
    width: 40px;
    margin-right: 10px;
  }
}

@media (width >= 576px) {
  h3 {
    font-size: 25px;
  }
  
  hr {
    width: 40px;
    margin-right: 10px;
  }
}

@media (width >= 768px) {
  h3 {
    font-size: 30px;
  }
  
  hr {
    width: 45px;
    margin-right: 10px;
  }
}

@media (width >= 992px) {
  h3 {
    font-size: 35px;
  }
  
  hr {
    width: 50px;
    margin-right: 20px;
  }
}

@media (width >= 1200px) {
  h3 {
    font-size: 40px;
  }
  
  hr {
    width: 55px;
    margin-right: 20px;
  }
}

@media (width >= 1400px) {
  h3 {
    font-size: 45px;
  }
  
  hr {
    width: 60px;
    margin-right: 20px;
  }
}

/* FEATURES */

#features {
  padding: 30px 0px 60px 0px;
}

.feature-image {
  padding: 30px 0px;
}

li {
  @extend .open-sans-regular;
}

.feature-card {
  padding: 50px 30px;
}

@media (width < 576px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 576px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 768px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: 60px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 992px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
    width: auto;
  }
}

@media (width >= 1200px) {
  h4 {
    font-size: 25px;
  }
  
  .feature-image {
    width: 110px;
  }
  
  li {
    font-size: 18px;
  }
  
  .feature-card {
    padding: 40px 20px;
    width: auto;
  }
}

@media (width >= 1400px) {
  h4 {
    font-size: 30px;
  }
  
  .feature-image {
    width: 120px;
  }
  
  li {
    font-size: 20px;
  }
  
  .feature-card {
    padding: 50px 30px;
    width: auto;
  }
}
