<nav class="navbar navbar-expand-lg bg-white border-bottom border-secondary fixed-top">
  <div class="container-fluid">
    <a href="" class="navbar-brand d-flex">
      <img src="favicon.ico" alt="logo" width="45" />
      <p class="m-auto text-secondary montserrat">TechDental</p>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#smallNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="smallNavbar">
      <div class="navbar-nav ms-auto">
        <a href="" class="nav-link text-primary open-sans-bold" aria-current="page">Home</a>
        <a href="" class="nav-link text-primary open-sans-bold">Features</a>
        <a href="" class="nav-link text-primary open-sans-bold">About Us</a>
        <a href="" class="nav-link text-primary open-sans-bold">Services</a>
        <a href="" class="nav-link text-primary open-sans-bold contact-button">Contact Us</a>
      </div>
    </div>
  </div>
</nav>
<main>
  <div id="home" class="container ps-3">
    <div class="row d-flex justify-content-center align-items-center flex-nowrap">
      <div class="col">
        <h1 class="text-primary raleway-bold">Tech for Perfect Smiles</h1>
        <h2 class="text-primary raleway-medium">High-quality dental lab services</h2>
        <a href="#" class="btn btn-secondary btn-hero open-sans-bold" role="button">Learn More</a>
      </div>
      <div class="col d-lg-block d-none">
        <img class="float-end hero-img" src="../assets/hero-image.png" alt="hero-image">
      </div>
    </div>
  </div>
  <div id="features" class="bg-light">
    <div class="container">
      <h3>
        <hr>Features
      </h3>
      <div class="row d-flex flex-lg-row flex-column gap-lg-0 gap-5">
        <div class="col" *ngFor="let feature of features">
          <div class="card bg-primary feature-card">
            <h4 class="text-white open-sans-bold text-center">{{ feature.title }}</h4>
            <img class="feature-image m-auto" [src]="feature.image" alt="feature-image">
            <ul class="text-white">
              <li>{{ feature.point1 }}</li>
              <br>
              <li>{{ feature.point2 }}</li>
              <br>
              <li>{{ feature.point3 }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="about-us" class="container ps-3">
    <div class="row d-flex flex-row flex-nowrap">
      <div class="col">
        <div class="row">
          <h3>
            <hr>About Us
          </h3>
        </div>
        <div class="row gap-3 text-primary">
          <div class="row gap-1">
            <h4 class="open-sans-bold">Our Journey</h4>
            <p class="about-text open-sans-regular">
              Welcome to TechDental, where precision meets innovation. Established in 2008, 
              TechDental has been a leader in providing top-notch dental lab services to 
              practices across the region.
            </p>
          </div>
          <div class="row gap-1">
            <h4 class="open-sans-bold">Our Mission</h4>
            <p class="about-text open-sans-regular">
              We are dedicated to enhancing dental care through advanced technologies and 
              meticulous craftsmanship. Our goal is to be your trusted partner in delivering 
              high-quality, reliable, and timely lab services.
            </p>
          </div>
          <div class="row gap-1">
            <h4 class="open-sans-bold">Our Values</h4>
            <div class="col">
              <div class="row">
                <h5 class="open-sans-semibold">Innovation</h5>
                <p class="about-text open-sans-regular">Continuously investing in the latest dental technologies.</p>
              </div>
              <div class="row">
                <h5 class="open-sans-semibold">Collaboration</h5>
                <p class="about-text open-sans-regular">Working together with dental teams to meet their needs.</p>
              </div>
            </div>
            <div class="col">
              <div class="row">
                <h5 class="open-sans-semibold">Quality</h5>
                <p class="about-text open-sans-regular">Ensuring every product meets the highest standards.</p>
              </div>
              <div class="row">
                <h5 class="open-sans-semibold">Integrity</h5>
                <p class="about-text open-sans-regular">Upholding the highest ethical standards in our operations.</p>
              </div>
            </div>
          </div>
          <div class="row gap-1">
            <h4 class="open-sans-bold">Our Team</h4>
            <p class="about-text open-sans-regular">
              Our skilled technicians and industry experts bring a wealth of experience 
              and a passion for dental innovation, providing exceptional service and support 
              to our clients.
            </p>
          </div>
        </div>
      </div>
      <div class="col d-lg-block d-none">
        <img class="about-image" src="../assets/about-image.jpg" alt="team working together">
      </div>
    </div>
  </div>
  <div id="services" class="bg-light">
    <div class="container">
      <h3>
        <hr>Services
      </h3>
      <div class="row flex-xl-row flex-column gap-4 ps-3 pe-3">
        <div class="col position-relative  service">
          <div class="row position-absolute bottom-0 service-text text-white">
            <h4 class="open-sans-bold pt-1">Restorative Dentistry</h4>
            <p class="open-sans-regular">Focus on repairing damaged or missing teeth with procedures like crowns and bridges.</p>
          </div>
        </div>
        <div class="col position-relative service">
          <div class="row position-absolute bottom-0 service-text text-white">
            <h4 class="open-sans-bold pt-1">Cosmetic Dentistry</h4>
            <p class="open-sans-regular">Enhances smile aesthetics with methods like teeth whitening, veneers, and bonding.</p>
          </div>          
        </div>
        <div class="col position-relative service">
          <div class="row position-absolute bottom-0 service-text text-white">
            <h4 class="open-sans-bold pt-1">Prosthetic Solutions</h4>
            <p class="open-sans-regular">Custom dentures using advanced technology for comfort and natural appearance.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
