@use "/src/styles" as *;

/* NAVBAR */

.montserrat {
  font-size: 30px;
  padding-left: 5px;
}

.nav-link {
  font-size: 20px;
  margin-right: 5px;
  transition: opacity 0.5s ease;
}

.navbar-nav:hover > :not(:hover) {
  opacity: 0.4;
}

.navbar-toggler {
  color: $secondary;
  border-color: $secondary;
}

main {
  padding-top: 72px;
}

/* HOME */

#home {
  padding: 60px 0px;
}

@media (width < 576px) {
  h1 {
    font-size: 55px;
    max-width: 400px;
  }

  h2 {
    font-size: 25px;
    margin-top: -10px;
  }

  .btn-hero {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media (width >= 576px) {
  h1 {
    font-size: 65px;
    max-width: 490px;
  }

  h2 {
    font-size: 30px;
  }

  .btn-hero {
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
  }
}

@media (width >= 768px) {
  h1 {
    font-size: 65px;
    max-width: 490px;
  }

  h2 {
    font-size: 30px;
  }

  .btn-hero {
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
  }
}

@media (width >= 992px) {
  h1 {
    font-size: 65px;
    max-width: 600px;
  }

  h2 {
    font-size: 30px;
  }

  .btn-hero {
    width: 130px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 15px;
  }

  .hero-img {
    width: 450px;
  }
}

@media (width >= 1200px) {
  h1 {
    font-size: 80px;
    min-width: 600px;
  }

  h2 {
    font-size: 35px;
  }

  .btn-hero {
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .hero-img {
    width: 500px;
  }
}

@media (width >= 1400px) {
  h1 {
    font-size: 90px;
    min-width: 650px;
  }

  h2 {
    font-size: 40px;
  }

  .btn-hero {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin-top: 20px;
  }

  .hero-img {
    width: auto;
  }
}

/* SECTION TITLE */

h3 {
  padding-bottom: 30px;
  @extend .d-flex, .align-items-center, .text-primary, .raleway-bold;
}

hr {
  border: 2px solid $secondary;
  opacity: 1;
  height: 1px;
}

@media (width < 576px) {
  h3 {
    font-size: 25px;
  }
  
  hr {
    width: 40px;
    margin-right: 10px;
  }
}

@media (width >= 576px) {
  h3 {
    font-size: 25px;
  }
  
  hr {
    width: 40px;
    margin-right: 10px;
  }
}

@media (width >= 768px) {
  h3 {
    font-size: 30px;
  }
  
  hr {
    width: 45px;
    margin-right: 10px;
  }
}

@media (width >= 992px) {
  h3 {
    font-size: 35px;
  }
  
  hr {
    width: 50px;
    margin-right: 20px;
  }
}

@media (width >= 1200px) {
  h3 {
    font-size: 40px;
  }
  
  hr {
    width: 55px;
    margin-right: 20px;
  }
}

@media (width >= 1400px) {
  h3 {
    font-size: 45px;
  }
  
  hr {
    width: 60px;
    margin-right: 20px;
  }
}

/* FEATURES */

#features {
  padding: 30px 0px 60px 0px;
}

.feature-image {
  padding: 30px 0px;
}

li {
  @extend .open-sans-regular;
}

.feature-card {
  padding: 50px 30px;
}

@media (width < 576px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 576px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 768px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: 60px;
  }
  
  .feature-card {
    padding: 30px 10px;
  }
}

@media (width >= 992px) {
  h4 {
    font-size: 20px;
  }
  
  .feature-image {
    width: 100px;
  }
  
  li {
    font-size: 16px;
    margin-left: -5px;
  }
  
  .feature-card {
    padding: 30px 10px;
    width: auto;
  }
}

@media (width >= 1200px) {
  h4 {
    font-size: 25px;
  }
  
  .feature-image {
    width: 110px;
  }
  
  li {
    font-size: 18px;
  }
  
  .feature-card {
    padding: 40px 20px;
    width: auto;
  }
}

@media (width >= 1400px) {
  h4 {
    font-size: 30px;
  }
  
  .feature-image {
    width: 120px;
  }
  
  li {
    font-size: 20px;
  }
  
  .feature-card {
    padding: 50px 30px;
    width: auto;
  }
}

/* ABOUT US */

#about-us {
  padding: 30px 0px 60px 0px;
} 

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width < 576px) {
  .about-text {
    font-size: 16px;
  }
  
  h5 {
    font-size: 20px;
  }
}

@media (width >= 576px) {
  .about-text {
    font-size: 16px;
  }
  
  h5 {
    font-size: 20px;
  }
}

@media (width >= 768px) {
  .about-text {
    font-size: 16px;
  }
  
  h5 {
    font-size: 20px;
  }
}

@media (width >= 992px) {
  .about-text {
    font-size: 16px;
  }
  
  h5 {
    font-size: 20px;
  }
}

@media (width >= 1200px) {
  .about-text {
    font-size: 18px;
  }
  
  h5 {
    font-size: 23px;
  }
}

@media (width >= 1400px) {
  .about-text {
    font-size: 20px;
  }
  
  h5 {
    font-size: 25px;
  }
}

/* SERVICES */

#services {
  padding: 30px 0px 60px 0px;
}

.service {
  border-radius: 10px;

  &:nth-child(1) {
    background: url("../assets/service1-image.jpg") center;
    background-size: cover;
  };

  &:nth-child(2) {
    background: url("../assets/service2-image.jpg") center;
    background-size: cover;
  };

  &:nth-child(3) {
    background: url("../assets/service3-image.webp") center;
    background-size: cover;
  };
}

.service-text {
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 50%) 0%, #000000 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (width < 576px) {
  .service {
    min-height: 250px;
  }
}

@media (width >= 576px) {
  .service {
    min-height: 250px;
  }
}

@media (width >= 768px) {
  .service {
    min-height: 250px;
  }
}

@media (width >= 992px) {
  .service {
    min-height: 250px;
  }
}

@media (width >= 1200px) {
  .service {
    height: 250px;
  }
}

@media (width >= 1400px) {
  .service {
    height: 300px;
  }
}

/* CONTACT US */

#contact-us {
  padding: 30px 0px 60px 0px;
}

i {
  font-size: 40px;
}

.contact-info {
  font-size: 25px;
}

label {
  font-size: 30px;
}

textarea {
  height: 150px;
}

@media (width < 576px) {
  i {
    font-size: 30px;
  }
  
  .contact-info {
    font-size: 20px;
  }
  
  label {
    font-size: 20px;
  }
}

@media (width >= 576px) {
  i {
    font-size: 30px;
  }
  
  .contact-info {
    font-size: 20px;
  }
  
  label {
    font-size: 20px;
  }
}

@media (width >= 768px) {
  i {
    font-size: 30px;
  }
  
  .contact-info {
    font-size: 20px;
  }
  
  label {
    font-size: 20px;
  }
}

@media (width >= 992px) {
  i {
    font-size: 30px;
  }
  
  .contact-info {
    font-size: 20px;
  }
  
  label {
    font-size: 20px;
  }
}

@media (width >= 1200px) {
  i {
    font-size: 35px;
  }
  
  .contact-info {
    font-size: 23px;
  }
  
  label {
    font-size: 25px;
  }
}

@media (width >= 1400px) {
  i {
    font-size: 40px;
  }
  
  .contact-info {
    font-size: 25px;
  }
  
  label {
    font-size: 30px;
  }
}
